@import '../base';

.cursor {
    pointer-events: none;

    &__ring {
        position: fixed;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        border: 2px solid rgba($crayola, 0.808);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        -webkit-transition-duration: 100ms;
        transition-duration: 100ms;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        will-change: width, height, transform, border;
        z-index: 999;
        pointer-events: none;
        &--hovered {
            mix-blend-mode: difference;
            width: 80px;
            height: 80px;
            background-color: $crayola;
        }
        &--down {
            mix-blend-mode: difference;
            width: 30px;
            height: 30px;
            background-color: $crayola;
        }
        &--up {
            mix-blend-mode: difference;
            width: 80px;
            height: 80px;
            background-color: $crayola;
        }
    }

    &__dot {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: $crayola;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        z-index: 999;
        pointer-events: none;
        &--hovered {
            display: none;
        }
        &--down {
            display: none;
        }
        &--up {
            display: none;
        }
    }
}
