.glitch-text {
    transform: skew(-11deg);
}

.glitch-text:before,
.glitch-text:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.glitch-text:before {
    content: "";
    background: var(--background);
    height: 39%;
}

.glitch-text:after {
    content: attr(data-text);
    padding-left: 0.2rem;
    height: 42%;
}
