@keyframes borderLiquid {
    0% {
        border-radius: 43% 57% 56% 44% / 62% 45% 55% 38%;
    }
    10% {
        border-radius: 53% 47% 50% 50% / 34% 37% 63% 66%; 
    }
    20% {
        border-radius: 53% 47% 50% 50% / 53% 37% 63% 47%;
    }
    30% {
        border-radius: 53% 47% 35% 65% / 58% 37% 63% 42%;
    }
    40% {
        border-radius: 53% 47% 35% 65% / 58% 56% 44% 42%;
    }
    50% {
        border-radius: 53% 47% 35% 65% / 58% 30% 70% 42%;
    }
    60% {
        border-radius: 39% 61% 61% 39% / 35% 58% 42% 65%;
    }
    70% {
        border-radius: 39% 61% 61% 39% / 35% 38% 62% 65%;
    }
    80% {
        border-radius: 39% 61% 35% 65% / 35% 38% 62% 65%;
    }
    90% {
        border-radius: 39% 61% 35% 65% / 58% 38% 62% 42%;
    }
    100% {
        border-radius: 43% 57% 56% 44% / 62% 45% 55% 38%;
    }
}
