$main: #1184F0;
$text: #FEFEFE;
$contrast: darken($main, 10%);
$primary: #dc5656;
$primary-ultralight: mix(white, $primary, 80%);
$primary-light: mix(white, $primary, 25%);
$primary-dark: mix(black, $primary, 25%);
$primary-ultradark: mix(black, $primary, 80%);


$blue: #35a7ff;
$lapis: #38618c;
$white: #ffffff;
$crayola: #ff5964;
$maize: #ffe74c;
$black: #010400;
